<div class="container">
    <mat-toolbar color="primary">
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/">Ekran główny</button>
            <button mat-menu-item routerLink="/settings">Ustawienia</button>
            <button mat-menu-item routerLink="/login">Logowanie</button>
        </mat-menu>
        <span>Rejestracja czasu pracy</span>
        <div class="flex-auto"></div>
        <div *ngIf="loggedUser" class="row">
            <div>{{ loggedUser?.ehUser?.username }}</div>
            <button mat-button (click)="logout()">
                <mat-icon>logout</mat-icon>
            </button>
        </div>
        <div *ngIf="!loggedUser">
            <button mat-button routerLink="/login">
                <mat-icon>login</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
</div>
