 html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto, Helvetica, sans-serif;
// display:flex;
}

.container{
  height: 100%;
  display: flex;
  flex-flow: column;
}

.main {
  height:100%;
  // align-content: center;
  justify-content: flex-start;
  display:flex;
  flex-flow:column;
}

.flex-auto {
  flex: 1;
}

.item{
  margin: 10px;
  padding: 10px;
  // border-style: solid;
}

.bottom{
  background-color: lightpink;
  display:flex;
  justify-content: flex-start;
  gap: 20px;
  padding: 10px 50px
}

.border{
  border-width: 1px;
  border-color: black;
  border-style: solid;
}