<div class="main">
    <div class="item mat-elevation-z10">
        <h1>Instalacja: {{ productionNodeName }}</h1>
    </div>
    <div class="item flex-auto"></div>
    <div class="item"></div>
    <div class="bottom">
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <div class="flex-auto"></div>
        <button mat-raised-button>Basic</button>
    </div>
</div>
