<div class="main">
    <div class="item mat-elevation-z4">
        <h1>Stanowisko: {{ workplace?.name || 'Niepoprawne stanowisko' }}</h1>
        <h1>
            Wydział:
            {{ workplace?.department?.name || 'Niepoprawne stanowisko' }}
        </h1>
    </div>
    <div class="item mat-elevation-z4 flex-auto">
        <p>Ostatni odczyt: {{ rfid }}</p>
    </div>
    <div class="item"></div>
    <div class="bottom">
        <button mat-raised-button color="primary" (click)="onPrimaryBtnClick()">
            Primary
        </button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <div class="flex-auto"></div>
        <button mat-raised-button>Basic</button>
    </div>
</div>
